'.php':
  'Codeigniter Controller':
    'prefix': 'cicontroller'
    'body': """
      <?php
      defined('BASEPATH') OR exit('No direct script access allowed');

      class ${1:Classname} extends ${2:CI}_Controller{

        public function __construct()
        {
          parent::__construct();
          ${3://Codeigniter : Write Less Do More}
        }

        public function index()
        {
          $0
        }

        // Please implement naming good CRUD controller function below

      	// Showing form to read specific data based on id
      	public function read($id)
      	{
      		# code...
      	}

      	// Showing form to insert data
      	public function create()
      	{
      		# code...
      	}

      	// Process insert data
      	public function store()
      	{
      		# code...
      	}

      	// Showing form to update data
      	public function edit($id)
      	{
      		# code...
      	}

      	// Process update data
      	public function update($id)
      	{
      		# code...
      	}

      	// Process delete data
      	public function delete($id)
      	{
      		# code...
      	}

      }
    """
