'.php':
  'Codeigniter Model':
    'prefix': 'cimodel'
    'body': """
      <?php
      defined('BASEPATH') OR exit('No direct script access allowed');

      class ${1:Classname} extends ${2:CI}_Model{

        public function __construct()
        {
          parent::__construct();
          ${3://Codeigniter : Write Less Do More}
        }

      }
    """
